# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x00000051
# resource alias of this part: "turbo"

render		0x0000AB32
mesh		0x0000AB33
click		0x0000AB34

body		0.0 0.0 0.0	0.0 0.0 0.0	4.5	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	52	; turbo_gas_in_OUT
attach		0x0000AB20 30	; Duhen_SolarWind_exhaust_header->japanese_exhaust_head_pipe_IN

slot		0.000 0.000 0.000	0.000 0.000 0.000	55	; turbo_gas_out_IN

slot		0.000 0.000 0.000	0.000 0.000 0.000	57	; turbo_air_in_IN

slot		0.000 0.000 0.000	0.000 0.000 0.000	59	; turbo_air_out_IN

eof
