# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x0000004E
# resource alias of this part: "Baiern_crankshaft_bearing_bridge"

render		0x00000028 ; crankshaft bearing bridge
mesh		0x00000027
click		0x00000069

body		0.0 0.0 0.0	0.0 0.0 0.0	2.6	sphere	0.1
noclick
nocollision

category	1

slot		0.000 -0.040 0.000	0.000 0.000 0.000	40	; crankshaft_bearing_OUT
attach		0x00000B52 41	; Baiern_Kraftwerk_2_5_block->engine_block_crankshaft_bearing_IN
attach		0x00000052 41	; Baiern_Devils_6SFi_3_6_block->engine_block_crankshaft_bearing_IN
attach		0x00000A52 41	; Baiern_Devils_6SFi_3_6_block->engine_block_crankshaft_bearing_IN


eof
