# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x00000A98
# resource alias of this part: "Baiern_GT_III_exhaust_header"

render		0x00000A24 ; exhaust header
mesh		0x00000A23
click		0x00000A67

body		0.0 0.0 0.0	0.0 0.0 0.0	9.2	sphere	0.1
noclick
nocollision

category	1

slot		0.000 -0.000 -0.000	-0.000 0.000 0.000	27	; exhaust_head_OUT
attach		0x00000042 13	; 93x88er cylinder head->cylinder_head_exhaust_header_1_to_3_IN
attach		0x00000A42 13	; 93x88er cylinder head->cylinder_head_exhaust_header_1_to_3_IN
attach		0x00000B42 13	; 93x88er cylinder head->cylinder_head_exhaust_header_1_to_3_IN


slot		0.000 0.000 0.000	0.000 0.000 0.000	44	; shield
eof