
# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x0000CE99
# resource alias of this part: "intake"

render		0x0000CE96
mesh		0x0000CE98
texture 	0x00030023
click		0x0000CE90

body		0.0 0.0 0.0	0.0 0.0 0.0	6.0	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	1	; turbocharger_air_out_pipe_OUT
attach		0x0000DC97 34	; turbocharger->turbo_air_in_out


eof