# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x00000AE2
# resource alias of this part: "Baiern_GT_III_fuel_rail_2"

render		0x00000A22 ; fuel rail
mesh		0x00000A21
click		0x00000A66

body		0.0 0.0 0.0	0.0 0.0 0.0	3.2	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	28	; fuel_rail_OUT
attach		0x0000004A 10	; ->intake_manifold_fuel_IN
attach		0x00000A97 10	; Baiern_GT_III_intake_manifold->intake_manifold_fuel_IN
attach		0x0000BA97 10	; Baiern_GT_III_intake_manifold->intake_manifold_fuel_IN
attach		0x00000090 10	; Emer_StreetGT_intake_manifold->intake_manifold_fuel_IN
attach		0x00000092 10	; Emer_MotorSport_GT2_intake_manifold->intake_manifold_fuel_IN
attach		0x0000CA97 10	; Emer_MotorSport_GT2_intake_manifold->intake_manifold_fuel_IN

eof
