# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x0000AA32
# resource alias of this part: "intake"

render		0x0000AA32
mesh		0x0000AA31
click		0x0000AA6E

body		0.0 0.0 0.0	0.0 0.0 0.0	6.0	sphere	0.1
noclick
nocollision

category	1

slot		0.000 -0.000 -0.000	0.000 0.000 0.000	8	; air_OUT
attach		0x00000A97 12	; Baiern_GT_III_intake_manifold->intake_manifold_air_IN

eof
