# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x0000BD42
# resource alias of this part: "chargecover"

render		0x000095C3 
mesh		0x000095C2
click		0x00009567

body		0.0 0.0 0.0	0.0 0.0 0.0	9.2	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000		0.000 0.000 0.000	154	; 
attach		0x0000CC97 36	; dragheader>heatshield


eof
