# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x0000DA97
# resource alias of this part: "Baiern_GT_III_intake_manifold"

render		0x0000DA40 ; intake manifold
mesh		0x0000DA1F
texture		0x00030023
click		0x0000DA65

body		0.0 0.0 0.0	0.0 0.0 0.0	12.8	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	26	; intake_manifold_OUT
attach		0x00000042 11	; 93x88er cylinder head->cylinder_head_intake_IN
attach		0x00000A42 11	; 80x90er cylinder head->cylinder_head_intake_IN
attach		0x00000B42 11	; 93x88er cylinder head->cylinder_head_intake_IN

slot		0.000 0.000 0.000	0.000 0.000 0.000	10	; intake_manifold_fuel_IN

slot		0.000 -0.102 -0.351	0.000 0.000 0.000	12	; intake_manifold_air_IN

eof
