# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x0000DB97
# resource alias of this part: "nitrous_rail"

render		0x00000D3A
mesh		0x00000D39
texture         0x00030023
click		0x00000D72

body		0.0 0.0 0.0	0.0 0.0 0.0	4.5	sphere	0.1
noclick
nocollision

category	1

slot		-0.020 0.005 0.000	0.000 0.000 0.000	52	; turbo_gas_in_OUT
attach		0x00000A97 88  ; zex>drag intake
attach		0x0000AA97 88  ; zex>race itb
attach		0x00000097 88  ; zex>street intake

eof
