# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x0000298D
# resource alias of this part: "oil2"

render		0x000029D3 
mesh		0x000029D2
click		0x00006B67

body		0.0 0.0 0.0	0.0 0.0 0.0	9.2	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000		0.050 0.000 0.000	154	; oil
attach		0x0000009B 154	; valvecover->catchcan
attach		0x00000D9B 154	; valvecover->catchcan
attach		0x00000E9B 154	; valvecover->catchcan
attach		0x00000B9B 154	; valvecover->catchcan

eof
