# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x0000CBA9
# resource alias of this part: "timing_case"

render		0x0000CBA8 ; 
mesh		0x0000CBA7
click		0x0000CBA1

body		0.0 0.0 0.0	0.0 0.0 0.0	4.4	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	109	; alternator_OUT
attach		0x00000052 111	; Baiern_Kraftwerk_2_5_block->engine_block_case_IN
attach		0x00000A52 111	; Baiern_Kraftwerk_2_5_block->engine_block_case_IN
attach		0x00000B52 111	; Baiern_Kraftwerk_2_5_block->engine_block_case_IN

slot		0.000 0.000 0.000	0.000 0.000 0.000	32	; engine_block_alternator_IN
slotdmgmode	0x00000002


eof
