# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x0000004D
# resource alias of this part: "alternator"

render		0x00000026 ; alternator
mesh		0x00000025
click		0x00000068

body		0.0 0.0 0.0	0.0 0.0 0.0	4.4	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	15	; alternator_OUT
attach		0x0000007F 32	; block_AP18->engine_block_alternator_IN
attach		0x00000052 32	; block_AP16->engine_block_alternator_IN
attach		0x0000007E 32	; block_AP20->engine_block_alternator_IN
attach		0x0000F081 32	; block_AP20_higher->engine_block_alternator_IN
attach		0x0000F050 32	; block_BR->engine_block_alternator_IN
attach		0x0000F051 32	; block_BS_MD270->engine_block_alternator_IN
attach		0x0000F075 32	; block_BS_MD280->engine_block_alternator_IN
attach		0x000013AA 32	; Bloco 1.6 SR

slot		0.000 0.000 0.000	0.000 0.000 0.000	42	; alternator_belt_IN

eof
