# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x00000047
# resource alias of this part: "camshaft_drive_belt"

render		0x0000001A ; camshaft drive belt
mesh		0x00000019
click		0x00000061

body		0.0 0.0 0.0	0.0 0.0 0.0	0.45	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	23	; cam_belt_OUT
attach		0x00000042 22	; Baiern_Devils_6SFi_cylinder_head->cylinder_head_cam_belt_IN
attach		0x00000082 22	; Emer_MotorSport_GT2_cylinder_he->cylinder_head_cam_belt_IN
attach		0x00000081 22	; Emer_StreetGT_cylinder_head->cylinder_head_cam_belt_IN
attach		0x0000F059 22	; Emer_StreetGT_cylinder_head->cylinder_head_cam_belt_IN
attach		0x0000F060 22	; Emer_StreetGT_cylinder_head->cylinder_head_cam_belt_IN
attach		0x0000F061 22	; Emer_StreetGT_cylinder_head->cylinder_head_cam_belt_IN
attach		0x0000F076 22	; Emer_StreetGT_cylinder_head->cylinder_head_cam_belt_IN
attach		0x0000F097 22	; Emer_StreetGT_cylinder_head->cylinder_head_cam_belt_IN
attach		0x0000AD20 22	; Dutao

eof
