# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x0000F095
# resource alias of this part: "intake_camshaft_AP16"

render		0x00000A42 ; exhaust camshaft
mesh		0x00000A41
click		0x00000A40

body		0.0 0.0 0.0	0.0 0.0 0.0	5.3	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	20	; in_cam_OUT
attach		0x0000F099 5	; 93x88er cylinder head->cylinder_head_in_cam_IN
attach		0x000011AA 5	; large port

eof