# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x0000F096
# resource alias of this part: "fuel_rail"

render		0x00000A45 ; fuel rail
mesh		0x00000A44
click		0x00000A43

body		0.0 0.0 0.0	0.0 0.0 0.0	3.2	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	28	; fuel_rail_OUT
attach		0x0000F053 10	; ->intake_manifold_fuel_IN

slot		0.000 0.000 0.000	0.000 0.000 0.000	11	; carburetor_air_IN

eof
