# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x00000098
# resource alias of this part: "exhaust_header"

render		0x0000AA82 ; exhaust header
mesh		0x0000AA83
click		0x0000AA84

body		0.0 0.0 0.0	0.0 0.0 0.0	9.2	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	27	; exhaust_head_OUT
attach		0x00000042 13	; 93x88er cylinder head->cylinder_head_exhaust_header_1_to_3_IN
attach		0x00000081 13	; 93x88er cylinder head->cylinder_head_exhaust_header_1_to_3_IN
attach		0x00000082 13	; 93x88er cylinder head->cylinder_head_exhaust_header_1_to_3_IN
attach		0x0000F097 13	; 93x88er cylinder head->cylinder_head_exhaust_header_1_to_3_IN
attach		0x0000F059 13	; 93x88er cylinder head->cylinder_head_exhaust_header_1_to_3_IN
attach		0x0000F060 13	; 93x88er cylinder head->cylinder_head_exhaust_header_1_to_3_IN
attach		0x0000F061 13	; 93x88er cylinder head->cylinder_head_exhaust_header_1_to_3_IN
attach		0x0000F076 13	; 93x88er cylinder head->cylinder_head_exhaust_header_1_to_3_IN
attach		0x0000AD20 13	; Dutao

slot		0.000 0.000 0.000	0.000 0.000 0.000	30	; turbo

eof
