# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x0000F113
# resource alias of this part: "flywheel"

render		0x00000016 ; flywheel
mesh		0x00000015
click		0x0000005F

body		0.0 0.0 0.0	0.0 0.0 0.0	7.5	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	8	; flywheel_OUT
attach		0x00000044 37	; ->crankshaft_con_rod_IN
attach		0x0000F058 37	; ->crankshaft_con_rod_IN
attach		0x0000F077 37	; ->crankshaft_con_rod_IN
attach		0x00000080 37	; ->crankshaft_con_rod_IN

slot		0.000 0.000 0.000	0.000 0.000 0.000	36	; flywheel_clutch_IN
slotdmgmode	0x00000009

eof
