# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x0000F052
# resource alias of this part: "pipe_turbo_filter"

render		0x0000AE22
mesh		0x0000AE23
click		0x0000AE24

body		0.0 0.0 0.0	0.0 0.0 0.0	6.0	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	56	; carburetor_air_filter_OUT
attach		0x0000AE00 12	; carburetor_filter->carburetor_intake_IN

eof
