# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x0000F124
# resource alias of this part: "intercooler"

render		0x0000A118
mesh		0x0000A117
click		0x0000A116

body		0.0 0.0 0.0	0.0 0.0 0.0	12.0	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	2	; oil_pan_OUT
attach		0x00000042 17	; Baiern_Kraftwerk_2_5_block->engine_block_oil_pan_IN
attach		0x00000082 17	; Baiern_Kraftwerk_2_5_block->engine_block_oil_pan_IN
attach		0x0000F059 17	; Baiern_Kraftwerk_2_5_block->engine_block_oil_pan_IN
attach		0x00000081 17	; Baiern_Kraftwerk_2_5_block->engine_block_oil_pan_IN
attach		0x0000F061 17	; Baiern_Kraftwerk_2_5_block->engine_block_oil_pan_IN
attach		0x0000F060 17	; Baiern_Kraftwerk_2_5_block->engine_block_oil_pan_IN
attach		0x0000F076 17	; Baiern_Kraftwerk_2_5_block->engine_block_oil_pan_IN
attach		0x0000AD20 17	; Dutao

eof
