# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000006G8
# resource alias of this part: "connecting_rods"

render		0x000001ED
mesh		0x000001EE
click		0x000001EF

body		0.0 0.0 0.0	0.0 0.0 0.0	6.0	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	40	; connecting_rod_OUT
attach		0x000006D8 40	; crankshaft->crankshaft_connecting_rod_IN
attach		0x000001B4 40	; crankshaft->crankshaft_connecting_rod_IN
attach		0x000021B4 40	; crankshaft->crankshaft_connecting_rod_IN

attach		0x00007A1C 40	; crankshaft->crankshaft_connecting_rod_IN
attach		0x00008A1C 40	; crankshaft->crankshaft_connecting_rod_IN
attach		0x00009A1C 40	; crankshaft->crankshaft_connecting_rod_IN

slot		0.000 0.000 0.000	0.000 0.000 0.000	42	; connecting_rod_piston_IN

eof
