# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000001C8
# resource alias of this part: "cylinder_head"

render		0x000001C9
mesh		0x000001CA
click		0x000001CB

body		0.0 0.0 0.0	0.0 0.0 0.0	16.0	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	46	; R_cylinder_head_OUT
attach		0x000001A8 46	; block->engine_block_crankshaft_IN
attach		0x000021A8 46	; block->engine_block_crankshaft_IN
attach		0x000006A2 46	; block->engine_block_crankshaft_IN
attach		0x000006A6 46	; block->engine_block_crankshaft_IN
attach		0x000006A4 46	; block->engine_block_crankshaft_IN
attach		0x000006A7 46	; block->engine_block_crankshaft_IN
attach		0x000006A0 46	; block->engine_block_crankshaft_IN

slot		0.000 0.000 0.000	0.000 0.000 0.000	23	; R_cylinder_head_cover_IN

slot		0.000 0.000 0.000	0.000 0.000 0.000	16	; R_cylinder_head_exhaust_head_IN

eof
