# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000021D8
# resource alias of this part: "fuel_rail"

render		0x000021D9
mesh		0x000021DA
click		0x000021DB

body		0.0 0.0 0.0	0.0 0.0 0.0	6.4	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	7	; twin_carbs_mixture_OUT
attach		0x000031DC 7	; intake_manifold->intake_manifold_mixture_IN
attach		0x000001DC 7	; intake_manifold->intake_manifold_mixture_IN
attach		0x000041DC 7	; intake_manifold->intake_manifold_mixture_IN
attach		0x000061DC 7	; intake_manifold->intake_manifold_mixture_IN
attach		0x000071DC 7	; intake_manifold->intake_manifold_mixture_IN
attach		0x000007D1 7	; intake_manifold->intake_manifold_mixture_IN
attach		0x000007D2 7	; intake_manifold->intake_manifold_mixture_IN
attach		0x000007D3 7	; intake_manifold->intake_manifold_mixture_IN
attach		0x000007D4 7	; intake_manifold->intake_manifold_mixture_IN

slot		0.0 0.0 0.0	0.000 0.000 0.000	180	; Filtro

eof
