# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000011DC
# resource alias of this part: "intake manifold"

render		0x000011DD
mesh		0x000011DE
click		0x000011DF

body		0.0 0.0 0.0	0.0 0.0 0.0	13.0	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	14	; intake_manifold_OUT
attach		0x000001A8 14	; block->engine_block_crankshaft_IN
attach		0x000021A8 14	; block->engine_block_crankshaft_IN
attach		0x000006A2 14	; block->engine_block_crankshaft_IN
attach		0x000006A6 14	; block->engine_block_crankshaft_IN
attach		0x000006A4 14	; block->engine_block_crankshaft_IN
attach		0x000006A7 14	; block->engine_block_crankshaft_IN
attach		0x000006A0 14	; block->engine_block_crankshaft_IN

slot		0.000 0.000 0.000	0.000 0.000 0.000	7	; intake_manifold_mixture_IN

slot		-0.0000 0.0000 -0.0000	0.000 0.000 0.000	88	; NOS_In

slot		-0.0000 0.0000 -0.0000	0.000 0.000 0.000	89	; NOS_In

eof
