# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000001F0
# resource alias of this part: "starter"

render		0x000001F1
mesh		0x000001F2
click		0x000001F3

body		0.0 0.0 0.0	0.0 0.0 0.0	13.0	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	20	; alternator_OUT
attach		0x000001A8 20	; block->engine_block_alternator_IN
attach		0x000021A8 20	; block->engine_block_alternator_IN
attach		0x000006A1 20	; block->engine_block_crankshaft_IN
attach		0x000006A2 20	; block->engine_block_crankshaft_IN
attach		0x000006A3 20	; block->engine_block_crankshaft_IN
attach		0x000006A4 20	; block->engine_block_crankshaft_IN
attach		0x000006A5 20	; block->engine_block_crankshaft_IN
attach		0x000006A6 20	; block->engine_block_crankshaft_IN
attach		0x000006A7 20	; block->engine_block_crankshaft_IN
attach		0x000006A8 20	; block->engine_block_crankshaft_IN
attach		0x000006A9 20	; block->engine_block_crankshaft_IN
attach		0x000006A0 20	; block->engine_block_crankshaft_IN
attach		0x000006B1 20	; block->engine_block_crankshaft_IN
attach		0x000006B2 20	; block->engine_block_crankshaft_IN

eof
