# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x00002100
# resource alias of this part: "n2o_rail"

render		0x00002101
mesh		0x00002102
click		0x00002103

body		0.0 0.0 0.0	0.0 0.0 0.0	6.4	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	88	; twin_carbs_mixture_OUT
attach		0x000021DC 88	; intake_manifold->intake_manifold_mixture_IN
attach		0x000031DC 88	; intake_manifold->intake_manifold_mixture_IN
attach		0x000011DC 88	; intake_manifold->intake_manifold_mixture_IN

eof
