# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000021B0
# resource alias of this part: "SuperDuty_500_clutch"

render		0x000001B1
mesh		0x000001B2
click		0x000001B3

body		0.0 0.0 0.0	0.0 0.0 0.0	6.5	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	4	; clutch_OUT
attach		0x000001D4 4	; flywheel->flywheel_clutch_IN
attach		0x000021D4 4	; flywheel->flywheel_clutch_IN

eof
