# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x00000054
# resource alias of this part: "pipe_turbo_intercooler"

render		0x00007802
mesh		0x00007803
click		0x00007804



body		0.0 0.0 0.0	0.0 0.0 0.0	6.0	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	121	; turbocharger_air_out_pipe_OUT
attach		0x00008100 121	; turbocharger->turbo_air_in_out


eof


