# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000051F1
# resource alias of this part: "turbo_exhaust"

render		0x00007902
mesh		0x00007903
click		0x00007904

body		0.0 0.0 0.0	0.0 0.0 0.0	13.0	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	108	; Turbo exhaust
attach		0x00008100 108	; Turbo->Turbo_exhaust

eof
