# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000093FC
# resource alias of this part: "air_filter"

render		0x00009002
mesh		0x00009003
click		0x00009004

body		0.0 0.0 0.0	0.0 0.0 0.0	13.0	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	108	; air_filter_OUT
attach		0x00008900 108	; intake_manifold->air_filter_IN

eof
