# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000011BC
# resource alias of this part: "cylinder_head_cover"

render		0x000011BD
mesh		0x000011BE
texture		0x00000001
click		0x000011BF

body		0.0 0.0 0.0	0.0 0.0 0.0	2.3	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	22	; L_cylinder_head_cover_OUT
attach		0x000001C4 22	; cylinder_head->L_cylinder_head_cover_IN
attach		0x000007B1 22	; cylinder head->L_cylinder_head_exhaust_head_IN
attach		0x000007B3 22	; cylinder head->L_cylinder_head_exhaust_head_IN
attach		0x000007B5 22	; cylinder head->L_cylinder_head_exhaust_head_IN
attach		0x000007B7 22	; cylinder head->L_cylinder_head_exhaust_head_IN
attach		0x000007B9 22	; cylinder head->L_cylinder_head_exhaust_head_IN
attach		0x000007C1 22	; cylinder head->L_cylinder_head_exhaust_head_IN
attach		0x000008A1 22	; cylinder head->L_cylinder_head_exhaust_head_IN
attach		0x000008A3 22	; cylinder head->L_cylinder_head_exhaust_head_IN
attach		0x000008A5 22	; cylinder head->L_cylinder_head_exhaust_head_IN
attach		0x000008A7 22	; cylinder head->L_cylinder_head_exhaust_head_IN
attach		0x000008A9 22	; cylinder head->L_cylinder_head_exhaust_head_IN
attach		0x000008B1 22	; cylinder head->L_cylinder_head_exhaust_head_IN
attach		0x000008B3 22	; cylinder head->L_cylinder_head_exhaust_head_IN

eof
