# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x00007204
# resource alias of this part: "Front_Mount_turbo"

render		0x00007205
mesh		0x00007206
click		0x00007207

body		0.0 0.0 0.0	0.0 0.0 0.0	13.0	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	72	; R_turbo_OUT
attach		0x000061CC 72	; R_header->R_turbo_IN

slot		0.0 0.0 0.0	0.000 0.000 0.000	121	; Turbo Filter

slot		0.0 0.0 0.0	0.000 0.000 0.000	108	; Turbo exhaust

eof