# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x00000600
# resource alias of this part: "Drag_turbo"

render		0x00004505
mesh		0x00004506
click		0x00004507

body		0.0 0.0 0.0	0.0 0.0 0.0	13.0	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	86	; Drag_turbo_OUT
attach		0x000071CC 86	; R_header->Drag_turbo_IN

slot		0.0 0.0 0.0	0.000 0.000 0.000	120	; Turbo Filter

slot		0.0 0.0 0.0	0.000 0.000 0.000	110	; Turbo exhaust

eof