# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000001B8
# resource alias of this part: "crankshaft_bearing_bridge"

render		0x000001B9
mesh		0x000001BA
click		0x000001BB

body		0.0 0.0 0.0	0.0 0.0 0.0	3.1	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	99	; crankshaft_bearing_bridge_OUT
attach		0x000001A8 99	; block->engine_block_crankshaft_bearing_bridge_IN
attach		0x000021A8 99	; block->engine_block_crankshaft_bearing_bridge_IN
attach		0x000006A1 99	; block->engine_block_crankshaft_IN
attach		0x000006A2 99	; block->engine_block_crankshaft_IN
attach		0x000006A3 99	; block->engine_block_crankshaft_IN
attach		0x000006A4 99	; block->engine_block_crankshaft_IN
attach		0x000006A5 99	; block->engine_block_crankshaft_IN
attach		0x000006A6 99	; block->engine_block_crankshaft_IN
attach		0x000006A7 99	; block->engine_block_crankshaft_IN
attach		0x000006A8 99	; block->engine_block_crankshaft_IN
attach		0x000006A9 99	; block->engine_block_crankshaft_IN
attach		0x000006A0 99	; block->engine_block_crankshaft_IN
attach		0x000006B1 99	; block->engine_block_crankshaft_IN
attach		0x000006B2 99	; block->engine_block_crankshaft_IN
eof
