# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x00000054
# resource alias of this part: "turbocharger air out pipe"

lods 3 0.025 1 2

#render		??????????
#lod 0 0 //lo-res

render		0x00000E49 ; "turbocharger_air_out_pipe - 1 1"
lod 1 1 //hi-res

render		0x00000E49
lod 2 2 //extr-hi-res

mesh		0x00001E29
click		0x00000F79

body		0.0 0.0 0.0	0.0 0.0 0.0	6.0	sphere	0.1
noclick
nocollision

category	1

slot		0.000 -0.000 0.000	0.000 0.000 0.000	60	; intercooler_OUT
attach	  0x00000A48 59	;twin_turbocharger->turbo_air_in_IN

eof
