# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x00000054
# resource alias of this part: "turbocharger air out pipe"

render		0x00000E78
mesh		0x00000E77
click		0x00000E79

body		0.0 0.0 0.0	0.0 0.0 0.0	6.0	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	1	; turbocharger_air_out_pipe_OUT
attach		0x00000051 55	; turbocharger->turbo_air_in_out


eof
