# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x00000054
# resource alias of this part: "Polia"

render		0x00000038A
mesh		0x00000037A
click		0x00000071A

body		0.0 0.0 0.0	0.0 0.0 0.0	6.0	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	58	; Polia
attach		0x000000676767 59	; Baiern_88er_crankshaft->Polia


eof
