# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x00000005
# resource alias of this part: "engine"

render 0x00000009


mesh 0x00000006


click 0x0000000C



category	2

slot	 0.000 0.000 0.000	0.000 0.000 0.000	4	; Turbo
attach	 0x00000010 4	; Turbo->Rotor

eof











































