# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x0000F007
# resource alias of this part: "Baiern_GT_III_exhaust_camshaft"

render		0x0000A018 ; exhaust camshaft
mesh		0x0000A017
click		0x0000A016

body		0.0 0.0 0.0	0.0 0.0 0.0	3.5	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	21	; ex_cam_OUT
attach		0x0000F016 4	; 93x88er cylinder head->cylinder_head_ex_cam_IN
attach		0x0000F017 4	; 80x90er cylinder head->cylinder_head_ex_cam_IN

eof
