# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x00000ABC
# resource alias of this part: "turbocharger air out pipe"

render		0x00000032
mesh		0x00000031
click		0x0000006E

body		0.0 0.0 0.0	0.0 0.0 0.0	6.0	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	58	; turbocharger_air_out_pipe_OUT
attach		0x00000097 55	; turbocharger->turbo_air_in_IN
attach		0x0000F026 55	; turbocharger->turbo_air_in_IN


eof
