# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x0000F028
# resource alias of this part: "Baiern_oil_pan"

render		0x0000A063 ; oil pan
mesh		0x0000A062
click		0x0000A061

body		0.0 0.0 0.0	0.0 0.0 0.0	12.0	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	2	; oil_pan_OUT
attach		0x0000F004 31	; Baiern_Kraftwerk_2_5_block->engine_block_oil_pan_IN

eof
