.idea
.vscode
*.exe
/misc
/maps
decals.rpk
/decals
/DestructionTools
DestructionTools.rpk
/EngineSoundPack
EngineSoundPack.rpk
/Data
/cars
cars.rpk
/addon
addon.rpk
/sound
sound.rpk
/screenshots
/particles
particles.rpk
/objects
objects.rpk
/music