# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000BC
# resource alias of this part: "Baiern_Devils_Tourist6_transmission"

render		0x0000F592 ; transmission
mesh		0x0000F593
click		0x0000F594

body		0.0 0.0 0.0	0.0 0.0 0.0	32.0	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	6	; transmission_OUT
attach		0x000097AA 35	; bloco lada

eof
