# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x00000049
# resource alias of this part: "Baiern_oil_pan"

render		0x0000001E ; oil pan
mesh		0x0000001D
click		0x00000064

body		0.0 0.0 0.0	0.0 0.0 0.0	12.0	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	2	; oil_pan_OUT
attach		0x00000052 31	; Baiern_Devils_6SFi_block->engine_block_oil_pan_IN
attach		0x000021AA 31	; bloco fiasa
attach		0x000060AA 31	; bloco f1 1.0
attach		0x000061AA 31	; bloco f1 1.4
attach		0x000062AA 31	; bloco f1 1.6
attach		0x000063AA 31	; bloco f1 1.8
attach		0x000097AA 31	; bloco lada 1.6 8v
attach		0x000003BA 31	; bloco 1.8 duratec
attach		0x000004BA 31	; bloco 2.0 duratec
attach		0x000005BA 31	; bloco 2.5 duratec
attach		0x000027BA 31	; bloco renault 1.0
attach		0x000028BA 31	; bloco renault 1.6
attach		0x000047BA 31	; bloco renault 2.0
attach		0x000038BA 31	; bloco marea 1.8
attach		0x000064BA 31	; bloco endura 1.0
attach		0x000065BA 31	; bloco endura 1.3
attach		0x000077BA 31	; bloco civic 1.8
attach		0x000083BA 31	; bloco tempra 2.0
attach		0x000096BA 31	; bloco ea111 1.0
attach		0x000097BA 31	; bloco ea111 1.6

eof
