# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x00000099
# resource alias of this part: "Baiern_GT_III_exhaust_camshaft"

render		0x0000003E ; exhaust camshaft
mesh		0x0000003D
click		0x00000074

body		0.0 0.0 0.0	0.0 0.0 0.0	3.5	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	21	; cam_OUT
attach		0x00000042 4	; 93x88er cylinder head->cylinder_head_cam_IN
attach		0x000046AA 4	; 93x88er cylinder head->cylinder_head_exhaust_h

eof
