# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x00000099
# resource alias of this part: "Baiern_GT_III_exhaust_camshaft"

render		0x0000E102 ; exhaust camshaft
mesh		0x0000E103
click		0x0000E104

body		0.0 0.0 0.0	0.0 0.0 0.0	3.5	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	5	; cam_OUT
attach		0x0000E011 5	; Cabecote renault 2.0 F4R
attach		0x000055BA 5	; Cabecote renault 1.6 16v K4M
eof
