# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x00000047
# resource alias of this part: "Baiern_camshaft_drive_belt"

render		0x0000F962 ; camshaft drive belt
mesh		0x0000F963
click		0x0000F964

body		0.0 0.0 0.0	0.0 0.0 0.0	0.45	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	23	; cam_belt_OUT
attach		0x0000F921 22	; Cabecote renault 8v

eof
