# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x00000098
# resource alias of this part: "Baiern_GT_III_exhaust_header"

render		0x0000E192 ; exhaust header
mesh		0x0000E193
click		0x0000E194

body		0.0 0.0 0.0	0.0 0.0 0.0	9.2	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	27	; exhaust_head_OUT
attach		0x0000F921 13	; Cabecote renault 8v

eof
