# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x0000004D
# resource alias of this part: "Baiern_alternator"

render		0x0000F412 ; alternator
mesh		0x0000F413
click		0x0000F414

body		0.0 0.0 0.0	0.0 0.0 0.0	4.4	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	15	; alternator_OUT
attach		0x000060AA 67	; bloco f1 1.0
attach		0x000061AA 67	; bloco f1 1.4
attach		0x000062AA 67	; bloco f1 1.6
attach		0x000063AA 67	; bloco f1 1.8

eof
