# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x0000004D
# resource alias of this part: "Baiern_alternator"

render		0x0000F992 ; alternator
mesh		0x0000F993
click		0x0000F994

body		0.0 0.0 0.0	0.0 0.0 0.0	4.4	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	15	; alternator_OUT
attach		0x0000F971 12	; adm renault 8v

eof
