# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x0000004D
# resource alias of this part: "Baiern_alternator"

render		0x0000F212 ; alternator
mesh		0x0000F213
click		0x0000F214

body		0.0 0.0 0.0	0.0 0.0 0.0	4.4	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	15	; alternator_OUT
attach		0x0000F221 66	; Turbina

eof
