# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x00000192
# resource alias of this part: "dedra"

render 0x00000116

click 0x0000019D

mesh 0x0000008F

body		0.000 0.000 0.000 0.000 0.000 0.000	1.200	parts\LDelta_Interior\meshes\_phys_L_headlights.scx	;0x00000025
# total mass: 1.200 kg

category	2

slot		0.000 0.000 0.000	0.000 0.000 0.000	999
compatible	0x00020999 999 ; default steering wheel

eof