# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x00000196
# resource alias of this part: "ferrari"

render 0x0000011A

click 0x000001A1

mesh 0x00000093

body		0.000 0.000 0.000 0.000 0.000 0.000	1.000	parts\LDelta_Interior\meshes\_phys_L_headlights.scx	;0x00000025
# total mass: 1.000 kg

category	2

slot		0.000 0.000 0.000	0.000 0.000 0.000	999
compatible	0x00020999 999 ; default steering wheel

eof