# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x00000169
# resource alias of this part: "Gauge_Tempoleo"

render		0x00000129

mesh		0x000000A2

click		0x000001B0

body		0.000 0.000 0.000 0.000 0.000 0.000 0.100 parts\lord_delta_pack\LDelta_Interior\meshes\_phys_L_headlights.scx ;0x00000025
# total mass: 0.100 kg

category		2

slot		0.000 0.000 0.000 0.000 0.000 0.000 1
compatible		0x00020169 1

eof
