# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x00000245
# resource alias of this part: "Nitrailer"

render		0x00000139

mesh		0x000000B2

click		0x000001C0

body		0.000 -0.450 0.000 0.000 0.000 0.000 250.400 parts\lord_delta_pack\LDelta_Interior\meshes\_phys_chassis_cockpit.scx ;0x0000000D
noclick
# total mass: 250.400 kg

category		2

slot		-0.263 -0.503 -1.685 0.000 0.000 0.000 1
compatible		0x00023200 1

eof
