# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000001C4
# resource alias of this part: "oggiroll"

render 0x00000136

mesh 0x000000AF

click 0x000001BD

body		0.000 0.000 0.000 0.000 0.000 0.000	12.200	parts\LDelta_Interior\meshes\_phys_L_headlights.scx	;0x00000025
# total mass: 12.200 kg

category	2

slot		0.000 0.000 0.000	0.000 0.000 0.000	1
compatible	0x000201C4 1

eof