# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000001CC
# resource alias of this part: "racingem"

render 0x0000013F

mesh 0x000000B8

click 0x000001C6

body		0.000 0.000 0.000 0.000 0.000 0.000	0.180	parts\LDelta_Interior\meshes\_phys_L_headlights.scx	;0x00000025
# total mass: 0.180 kg

category	2

slot		0.000 0.000 0.000	0.000 0.000 0.000	1
compatible	0x000201CC 1

eof