# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000001CE
# resource alias of this part: "racinglogoR"

render 0x00000141

mesh 0x000000BA

click 0x000001C8

body		0.000 0.000 0.000 0.000 0.000 0.000	0.080	parts\LDelta_Interior\meshes\_phys_L_headlights.scx	;0x00000025
# total mass: 0.080 kg

category	2

slot		0.000 0.000 0.000	0.000 0.000 0.000	1
compatible	0x000201CE 1

eof