# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000001D0
# resource alias of this part: "ralyelogo"

render 0x00000144

mesh 0x000000BD

click 0x000001CB

body		0.000 0.000 0.000 0.000 0.000 0.000	0.200	parts\LDelta_Interior\meshes\_phys_L_headlights.scx	;0x00000025
# total mass: 0.200 kg

category	2

slot		0.000 0.000 0.000	0.000 0.000 0.000	1
compatible	0x000201D0 1

eof