# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000001D9
# resource alias of this part: "sorpassoFRd"

render 0x0000014E

mesh 0x000000C7

click 0x000001D5

body		0.000 0.000 0.000 0.000 0.000 0.000	0.350	parts\LDelta_Interior\meshes\_phys_L_headlights.scx	;0x00000025
# total mass: 0.350 kg

category	2

slot		0.000 0.000 0.000	0.000 0.000 0.000	1
compatible	0x000201D9 1

eof