# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000001E6
# resource alias of this part: "xr"

render 0x00000163

mesh 0x000000DC

click 0x000001EA

body		0.000 0.000 0.000 0.000 0.000 0.000	4.390	parts\LDelta_Interior\meshes\_phys_L_headlights.scx	;0x00000025
# total mass: 4.390 kg

category	2

slot		0.000 0.000 0.000	0.000 0.000 0.000	1
compatible	0x000201E6 1

eof