# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x00000163
# resource alias of this part: "uno16rright"

render		0x0000016C

mesh		0x000000E5

click		0x000001F3

body		0.000 0.000 0.000 0.000 0.000 0.000 8.300 parts\lord_delta_pack\LDelta_Interior\meshes\_phys_L_headlights.scx ;0x00000025
# total mass: 8.300 kg

category		2

slot		0.000 0.000 0.000 0.000 0.000 0.000 1
compatible		0x00020363 1

eof
