# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x0000004D
# resource alias of this part: "Baiern_alternator"

render		0x00007B32 ; alternator
mesh		0x00007B33
click		0x00007B34

body		0.0 0.0 0.0	0.0 0.0 0.0	4.4	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	15	; alternator_OUT
attach		0x00000052 68	; Baiern_Devils_6SFi_block->engine_block_alternator_IN
attach		0x0000111A 68	; ->engine_block_transmission_IN
attach		0x0000BA1A 68	; bloco_monza

eof