# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000E2
# resource alias of this part: "Baiern_GT_III_fuel_rail"

render		0x00005B32 ; fuel rail
mesh		0x00005B33
click		0x00005B34

body		0.0 0.0 0.0	0.0 0.0 0.0	3.2	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	28	; fuel_rail_OUT
attach		0x00005B11 10	; ->intake_manifold_fuel_IN

slot		0.000 0.000 0.000	0.000 0.000 0.000	12	; corneta

eof
