# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000001C6
# resource alias of this part: "Biturbo_intercooler"

lods 3 0.001 1.000 2.000

#render		0x???????? ; ???
#lod 0 0 // lo-res

render		0x000001C7 ; DOHC_camshaft_drive_belt
lod 1 1 // hi-res

render		0x000001C7 ; DOHC_camshaft_drive_belt
lod 2 2 // extr-hi-res

mesh		0x000001C8
click		0x000001C9
texture		0x00030025

body		0.0 0.0 0.0	0.0 0.0 0.0	0.75	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	005	; Biturbo_intercooler
attach		0x000001CE 006	; Biturbo_pipes->Biturbo_intercooler
eof
