# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x00000044
# resource alias of this part: "oilcooler2"

lods 3 0.001 1.000 2.000

#render		0x???????? ; ???
#lod 0 0 // lo-res

render		0x00000045 ; oilcooler2
lod 1 1 // hi-res

render		0x00000045 ; oilcooler2
lod 2 2 // extr-hi-res

mesh		0x00000046
click		0x00000047

body		0.0 0.0 0.0	0.0 0.0 0.0	3.1	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	902	; oilcooler2_OUT
attach		0x0000001C 903	; oil_filter->oilcooler2_IN

eof
