# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000001E4
# resource alias of this part: "sti_intercooler"

lods 3 0.001 1.000 2.000

#render		0x???????? ; ???
#lod 0 0 // lo-res

render		0x000001E5 ; DOHC_camshaft_drive_belt
lod 1 1 // hi-res

render		0x000001E5 ; DOHC_camshaft_drive_belt
lod 2 2 // extr-hi-res

mesh		0x000001E6
click		0x000001E7
texture		0x00030025

body		0.0 0.0 0.0	0.0 0.0 0.0	0.75	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	750	; intercooler_OUT
attach		0x000001E0 751	; turbo_R_pipes->intercooler_IN

eof
