# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x00000F47
# resource alias of this part: "turbo pipes"

lods 3 0.001 1.000 2.000

#render		0x???????? ; ???
#lod 0 0 // lo-res

render		0x00000F1F ; alternator
lod 1 1 // hi-res

render		0x00000F1F ; alternator
lod 2 2 // extr-hi-res

mesh		0x00000F1E
click		0x00000F60
texture		0x00030025

body		0.0 0.0 0.0	0.0 0.0 0.0	4.6	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	850	; turbo_L_pipes_OUT
attach		0x00000EBE 851	; turbo->turbo_L_pipes_IN
attach		0x000001BA 851	; turbo2->turbo_L_pipes_IN

slot		0.000 0.000 0.000	0.000 0.000 0.000	755	; turbo_r_pipes

eof
