# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x00000044
# resource alias of this part: "crankshaft_64er"

render		0x00000014 ; 88er crankshaft
mesh		0x00000013
click		0x0000005E

body		0.0 0.0 0.0	0.0 0.0 0.0	12.3	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	34	; crankshaft_OUT
attach		0x0000007F 33	; block_13->engine_block_crankshaft_IN
attach		0x0000007E 33	; block_14->engine_block_crankshaft_IN
attach		0x0000057E 33	; block_16->engine_block_crankshaft_IN
attach		0x00000052 33	; block_10->engine_block_crankshaft_IN

slot		0.000 0.000 0.000	0.000 0.000 0.000	37	; crankshaft_flywheel_IN

slot		0.000 0.000 0.000	0.000 0.000 0.000	9	; crankshaft_con_rod_IN

eof
