# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x0000010C
# resource alias of this part: "Shimutshibu_RC_M3FCR15W7_turbocharger"

render		0x0000FC92
mesh		0x0000FC93
click		0x0000FC94

body		0.0 0.0 0.0	0.0 0.0 0.0	4.5	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	301	; cuzinho
attach		0x0000FA81 301	; Coletor Binotto 16v Escape

eof
