# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x00000054
# resource alias of this part: "turbocharger air out pipe"

render		0x00005EA2
mesh		0x00005EA3
click		0x00005EA4

body		0.0 0.0 0.0	0.0 0.0 0.0	6.0	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	58	; turbocharger_air_out_pipe_OUT
attach		0x00000097 33	; nitro
attach		0x00006AE1 33	; nitro
attach		0x000011D1 33	; nitro

eof
