# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x0000004D
# resource alias of this part: "Baiern_alternator"

render		0x00002BA2 ; alternator
mesh		0x00002BA3
click		0x00002BA4

body		0.0 0.0 0.0	0.0 0.0 0.0	4.4	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	1	; turbocharger_air_out_pipe_OUT
attach		0x00000051 69	; turbocharger->turbo_air_in_out
eof
