# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000B0
# resource alias of this part: "FL quarterpanel"

render		0x000004FC





















































mesh		0x000004D8









































click		0x00000520










































body		0.000 0.000 0.000 0.000 0.000 0.000 7.401 sphere 0.381
noclick

slot		0.000 0.000 0.000 3.142 0.000 0.000 1 ; this is which the rim connects to the chassis through
compatible		0x00020200 1

slot		0.000 0.000 0.000 0.000 0.000 0.000 2 ; this is which the rim connects to the tyre through
compatible		0x00020200 2
slotdmgmode		0xFFFF0005

category		3
damage		3.0
intdamage		1000000000.0

eof










































