# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000008A2
# resource alias of this part: "cylinder_head"

render		0x00001E82
mesh		0x00001E83
click		0x00001E84

body		0.0 0.0 0.0	0.0 0.0 0.0	16.0	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	46	; R_cylinder_head_OUT
attach		0x0000007F 46	; block_13->engine_block_alternator_IN
attach		0x00000052 46	; block_10->engine_block_alternator_IN
attach		0x0000007E 46	; block_14->engine_block_alternator_IN
attach		0x0000057E 46	; block_16->engine_block_alternator_IN

slot		0.000 0.000 0.000	0.000 0.000 0.000	23	; R_cylinder_head_cover_IN

slot		0.000 0.000 0.000	0.000 0.000 0.000	16	; R_cylinder_head_exhaust_head_IN

eof
