# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x00000097
# resource alias of this part: "intake_manifold"

render		0x00000040 ; intake manifold
mesh		0x0000001F
click		0x00000065

body		0.0 0.0 0.0	0.0 0.0 0.0	12.8	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	26	; intake_manifold_OUT
attach		0x0000007F 14	; block_13->engine_block_alternator_IN
attach		0x00000052 14	; block_10->engine_block_alternator_IN
attach		0x0000007E 14	; block_14->engine_block_alternator_IN
attach		0x0000057E 14	; block_16->engine_block_alternator_IN


slot		0.000 0.000 0.000	0.000 0.000 0.000	7	; intake_manifold_fuel_IN

slot		0.000 0.000 0.000	0.000 0.000 0.000	66	; nitro

eof
