# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000011CC
# resource alias of this part: "L_exhaust_header"

render		0x00001C32
mesh		0x00001C33
click		0x00001C34

body		0.0 0.0 0.0	0.0 0.0 0.0	8.5	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	16	; L_exhaust_head_OUT
attach		0x00001A11 16	; cylinder head->L_cylinder_head_exhaust_head_IN
attach		0x0000132A 16	; cylinder head->L_cylinder_head_exhaust_head_IN

eof
