# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x00000057
# resource alias of this part: "pistons_10"

render		0x00000034 ; 93x88er HC pistons
mesh		0x00000033
click		0x0000006F

body		0.0 0.0 0.0	0.0 0.0 0.0	2.7	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	42	; piston_OUT
attach		0x00000093 42	; connecting_rods_128er->con_rod_piston_IN

eof
