# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x0000a97D
# resource alias of this part: "air_filter_3"

render		0x0000a914 
mesh		0x0000a913
click		0x0000a95E

body		0.0 0.0 0.0	0.0 0.0 0.0	9.2	sphere	0.1
noclick
nocollision

category	1

slot		0.005 0.0350 -0.035	0.300 0.090 -0.000	37	; air_filter_3
attach		0x0000c68D 37	; air_hose2>air_box


eof
air_filter_3