# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x0000c68D
# resource alias of this part: "air_hose2"

render		0x0000c624 
mesh		0x0000c623
click		0x0000c667

body		0.0 0.0 0.0	0.0 0.0 0.0	9.2	sphere	0.1
noclick
nocollision

category	1

slot		-0.000 0.000 -0.000	0.000 0.000 0.000	28	; air_hose2
attach		0x0000c58D 28	; twin_turbo_pipe1->air_hose2

slot		0.426 0.015 -0.080	0.093 -0.195 -0.000	37	; air_box


eof
air_hose2