# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x0000d784
# resource alias of this part: "air_box"

render		0x0000d71E 
mesh		0x0000d71D
click		0x0000d764

body		0.0 0.0 0.0	0.0 0.0 0.0	12.0	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	37	; air_box
attach		0x0000d884 37	; VR_6_air_hose->air_box
attach		0x0000c68D 37	; VR_6_air_hose2->air_box

eof
