# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x0000c355
# resource alias of this part: "air_filter3_1"

render		0x0000c336 
mesh		0x0000c335
texture         0x00030025
click		0x0000c370

body		0.0 0.0 0.0	0.0 0.0 0.0	12.0	sphere	0.1
noclick
nocollision

category	1

slot		0.004 0.035 0.005	0.300 0.090 -0.000	37	; air_filter_3
attach		0x0000c68D 37	; air_hose2>air_box




eof
