# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x0000b284
# resource alias of this part: "camshaft_bearing_bridge_nut"

render		0x0000b21E 
mesh		0x0000b21D
click		0x0000b264

body		0.0 0.0 0.0	0.0 0.0 0.0	12.0	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	26	; camshaft_bearing_bridge_nut
attach		0x00000058 26	; VR_6_camshaft_bearing_bridge->camshaft_bearing_bridge_nut

eof
