# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x0000a448
# resource alias of this part: "compressor_air_hose2"

render		0x0000a41C 
mesh		0x0000a41B
click		0x0000a462

body		0.0 0.0 0.0	0.0 0.0 0.0	0.3	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	32	; compressor_air_hose2
attach		0x0000a248 32	; VR_6_compressor->compressor_air_hose2
attach		0x0000A356 32	; VR_6_compressor->compressor_air_hose2

slot		0.000 0.000 0.000	0.000 0.000 0.000	33	; compressor_air_hose2_screw

slot		0.000 -0.000 -0.000	0.000 -0.000 0.000	34	; compressor_air_hose2_screw

eof
