# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x0000a748
# resource alias of this part: "compressor_air_hose3_kit_1"

render		0x0000a71C 
mesh		0x0000a71B
click		0x0000a762

body		0.0 0.0 0.0	0.0 0.0 0.0	0.3	sphere	0.1
noclick
nocollision

category	1

slot		-0.000 0.000 0.000	0.000 0.000 0.000	34	; compressor_air_hose3_kit_1
attach		0x0000a548 34	; vr6_compressor_air_hose_kit_1->compressor_air_hose3_kit_1

slot		-0.000 0.000 0.000	0.000 0.000 0.000	33	; compressor_air_hose2_kit_1

eof
