# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x0000a484
# resource alias of this part: "connecting_rods_underpart"

render		0x0000a41E 
mesh		0x0000a41D
click		0x0000a464

body		0.0 0.0 0.0	0.0 0.0 0.0	12.0	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	20	; connecting_rods_underpart
attach		0x00000055 40	; VR_6_2.8connecting_rods->connecting_rods_underpart
attach		0x00000056 40	; VR_6_3.2connecting_rods->connecting_rods_underpart
attach		0x00000094 40	; VR_6_2.9connecting_rods->connecting_rods_underpart
attach		0x00000093 40	; VR_6_3.6connecting_rods->connecting_rods_underpart

slot		0.000 0.000 0.000	0.000 0.000 0.000	21      ; connecting_rods_screw

eof
