# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x0000b155
# resource alias of this part: "cover4"

render		0x0000b136 
mesh		0x0000b135
click		0x0000b170

body		0.0 0.0 0.0	0.0 0.0 0.0	12.0	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	35	; cover
attach		0x0000c684 35	; VR_6_cable_guide2->cover
attach		0x0000a655 35	; VR_6_cable_guide2->cover


eof
