# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x0000a755
# resource alias of this part: "cover2"

render		0x0000a736 
mesh		0x0000a735
texture         0x00030025
click		0x0000a770

body		0.0 0.0 0.0	0.0 0.0 0.0	12.0	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	35	; cover
attach		0x0000c684 35	; VR_6_cable_guide2->cover
attach		0x0000a655 35	; VR_6_cable_guide2->cover


eof
