# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x0000c284
# resource alias of this part: "distributor"

render		0x0000c21E 
mesh		0x0000c21D
click		0x0000c264

body		0.0 0.0 0.0	0.0 0.0 0.0	12.0	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	29	; distributor
attach		0x0000b484 29	; VR_6_upper_timing->distributor
attach		0x0000b455 29	; VR_6_upper_timing->distributor
attach		0x0000b655 29	; VR_6_upper_timing->distributor

slot		0.000 0.000 0.000	0.000 0.000 0.000	30	; distributor_screw

eof
