# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x0000e384
# resource alias of this part: "exhaust_header_nut"

render		0x0000e31E 
mesh		0x0000e31D
click		0x0000e364

body		0.0 0.0 0.0	0.0 0.0 0.0	12.0	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	28	; exhaust_header_nut
attach		0x0000008C 28	; VR_6_2.8_exhaust_header->exhaust_header_nut
attach		0x0000008D 28	; VR_6_3.2_exhaust_header->exhaust_header_nut
attach		0x0000004C 28	; VR_6_2.9_exhaust_header->exhaust_header_nut
attach		0x00000098 28	; VR_6_3.6_exhaust_header->exhaust_header_nut
attach		0x0000a08D 28	; VR_6_turbo_exhaust_header->exhaust_header_nut
attach		0x0000c38D 28	; twin_turbo_exhaust_header->exhaust_header_nut


eof
