# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x0000b18D
# resource alias of this part: "intake_manifold_pipe1"

render		0x0000b124 
mesh		0x0000b123
click		0x0000b167

body		0.0 0.0 0.0	0.0 0.0 0.0	9.2	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	35	; air_hose
attach		0x0000d684 35	; VR_6_throttle->air_hose

slot		0.000 0.000 0.000	0.000 0.000 0.000	3	; intake_manifold_pipe1

eof
