# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x0000b884
# resource alias of this part: "intake_manifold_underpart"

render		0x0000b81E 
mesh		0x0000b81D
click		0x0000b864

body		0.0 0.0 0.0	0.0 0.0 0.0	12.0	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	31	; intake_manifold_underpart
attach		0x0000004A 31	; VR_6_2.8_intake_manifold->intake_manifold_underpart
attach		0x00000097 31	; VR_6_3.2_intake_manifold->intake_manifold_underpart
attach		0x00000090 31	; VR_6_2.9_intake_manifold->intake_manifold_underpart
attach		0x00000092 31	; VR_6_3.6_intake_manifold->intake_manifold_underpart
attach		0x0000b855 31	; intake_manifold4->intake_manifold_underpart
attach		0x0000b955 31	; intake_manifold5->intake_manifold_underpart
attach		0x0000a151 31	; intake_manifold6->intake_manifold_underpart
attach		0x0000a251 31	; intake_manifold7->intake_manifold_underpart

slot		0.000 0.000 0.000	0.000 0.000 0.000	32	; intake_manifold_screw

slot		0.000 0.000 0.000	0.000 0.000 0.000	33	; intake_manifold_screw2

eof
