# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x0000b98D
# resource alias of this part: "intake_manifold_pipe5"

render		0x0000b924 
mesh		0x0000b923
click		0x0000b967

body		0.0 0.0 0.0	0.0 0.0 0.0	9.2	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	3	; intake_manifold_pipe5
attach		0x0000b78D 3	; throttle->intake_manifold_pipe5

slot		0.000 0.000 0.000	0.000 0.000 0.000	4	; intake_manifold_pipe6

eof