# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x0000b28D
# resource alias of this part: "intake_manifold_pipe1"

render		0x0000b224 
mesh		0x0000b223
click		0x0000b267

body		0.0 0.0 0.0	0.0 0.0 0.0	9.2	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	3	; intake_manifold_pipe2
attach		0x0000b18D 3	; intake_manifold_pipe1->intake_manifold_pipe2

slot		0.000 0.000 0.000	0.000 0.000 0.000	4	; intake_manifold_pipe3

eof
