# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x0000b38D
# resource alias of this part: "intake_manifold_pipe3"

render		0x0000b324 
mesh		0x0000b323
click		0x0000b367

body		0.0 0.0 0.0	0.0 0.0 0.0	9.2	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	4	; intake_manifold_pipe3
attach		0x0000b28D 4	; intake_manifold_pipe2->intake_manifold_pipe3

slot		0.000 0.000 0.000	0.000 0.000 0.000	5	; intake_manifold_pipe4

eof
