# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x0000a67D
# resource alias of this part: "intercooler2"

render		0x0000a614 
mesh		0x0000a613
click		0x0000a65E

body		0.0 0.0 0.0	0.0 0.0 0.0	9.2	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	8	; intercooler2
attach		0x0000a47D 8	; twin_turbo_pipe14>intercooler2

slot		0.000 0.000 0.000	0.000 0.000 0.000	9	; twin_turbo_pipe16

eof
