# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x0000b58D
# resource alias of this part: "intercooler"

render		0x0000b524 
mesh		0x0000b523
click		0x0000b567

body		0.0 0.0 0.0	0.0 0.0 0.0	9.2	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	6	; intercooler
attach		0x0000b48D 6	; intake_manifold_pipe4->intercooler

slot		0.000 0.000 0.000	0.000 0.000 0.000	7       ; turbo_pipe7

eof
