# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x0000b148
# resource alias of this part: "oil_cooler2"

render		0x0000b11C 
mesh		0x0000b11B
click		0x0000b162

body		0.0 0.0 0.0	0.0 0.0 0.0	0.3	sphere	0.1
noclick
nocollision

category	1

slot		-0.000 0.000 0.000	0.000 0.000 0.000	7	; oil_cooler2
attach		0x0000b248 7	; vr6_oil_cooler_line->oil_cooler2

eof
