# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x0000d184
# resource alias of this part: "oil_filters"

render		0x0000d11E 
mesh		0x0000d11D
click		0x0000d164

body		0.0 0.0 0.0	0.0 0.0 0.0	12.0	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	46	; oil_filters
attach		0x00000041 46	; VR_6_2.8_block->oil_filters
attach		0x00000052 46	; VR_6_3.2_block->oil_filters
attach		0x0000007E 46	; VR_6_2.9_block->oil_filters
attach		0x0000007F 46	; VR_6_3.6_block->oil_filters


eof
