# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x0000a255
# resource alias of this part: "oil_cooler4"

render		0x0000a236 
mesh		0x0000a235
click		0x0000a270

body		0.0 0.0 0.0	0.0 0.0 0.0	3.0	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	7	; oil_cooler4
attach		0x0000a155 7	; oil_cooler_line2->oil_cooler4

eof