# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x0000a284
# resource alias of this part: "oil_cover"

render		0x0000a21E 
mesh		0x0000a21D
click		0x0000a264

body		0.0 0.0 0.0	0.0 0.0 0.0	12.0	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	19	; oil_cover
attach		0x0000008F 19	; VR_6_cylinder_head_cover->oil_cover
attach		0x0000b255 19	; VR_6_cylinder_head_cover->oil_cover
attach		0x0000b355 19	; VR_6_cylinder_head_cover->oil_cover

eof
