# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x0000b248
# resource alias of this part: "oil_cooler_line"

render		0x0000b21C 
mesh		0x0000b21B
click		0x0000b262

body		0.0 0.0 0.0	0.0 0.0 0.0	0.3	sphere	0.1
noclick
nocollision

category	1

slot		-0.000 0.000 0.000	0.000 0.000 0.000	6	; oil_cooler_line
attach		0x0000e984 6	; vr6_oil_cooler->oil_cooler_line

slot		-0.000 0.000 0.000	0.000 0.000 0.000	7	; oil_cooler2

eof
