# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x0000a784
# resource alias of this part: "oil_pan_gasket"

render		0x0000a71E 
mesh		0x0000a71D
click		0x0000a764

body		0.0 0.0 0.0	0.0 0.0 0.0	12.0	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	43	; oil_pan_gasket
attach		0x00000041 43	; VR_6_2.8_block->oil_pan_gasket
attach		0x00000052 43	; VR_6_3.2_block->oil_pan_gasket
attach		0x0000007E 43	; VR_6_2.9_block->oil_pan_gasket
attach		0x0000007F 43	; VR_6_3.6_block->oil_pan_gasket

eof
