# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x0000e684
# resource alias of this part: "oil_return_hose"

render		0x0000e61E 
mesh		0x0000e61D
click		0x0000e664

body		0.0 0.0 0.0	0.0 0.0 0.0	12.0	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	21	; oil_return_hose
attach		0x0000008F 21	; VR_6_VR_6_valve cover->oil_return_hose
attach		0x0000b255 21	; VR_6_VR_6_valve cover->oil_return_hose
attach		0x0000b355 21	; VR_6_VR_6_valve cover->oil_return_hose

eof
