# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x0000d584
# resource alias of this part: "poly"

render		0x0000d51E 
mesh		0x0000d51D
click		0x0000d564

body		0.0 0.0 0.0	0.0 0.0 0.0	12.0	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	49	; poly
attach		0x00000041 49	; VR_6_2.8_block->poly
attach		0x00000052 49	; VR_6_3.2_block->poly
attach		0x0000007E 49	; VR_6_2.9_block->poly
attach		0x0000007F 49	; VR_6_3.6_block->poly


eof
