# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x0000e484
# resource alias of this part: "thermostat_housing"

render		0x0000e41E 
mesh		0x0000e41D
click		0x0000e464

body		0.0 0.0 0.0	0.0 0.0 0.0	12.0	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	50	; thermostat_housing
attach		0x00000041 50	; VR_6_2.8_engine_block->thermostat_housing
attach		0x00000052 50	; VR_6_3.2_engine_block->thermostat_housing
attach		0x0000007E 50	; VR_6_2.9_engine_block->thermostat_housing
attach		0x0000007F 50	; VR_6_3.6_engine_block->thermostat_housing

slot		0.000 0.000 0.000	0.000 0.000 0.000	2	; radiator

slot		0.000 0.000 0.000	0.000 0.000 0.000	3	; water_hose 

eof
