# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x0000b78D
# resource alias of this part: "throttle2"

render		0x0000b724 
mesh		0x0000b723
click		0x0000b767

body		0.0 0.0 0.0	0.0 0.0 0.0	9.2	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	34	; throttle2
attach		0x0000b68D 34	; intake_manifold2->throttle2

slot		0.000 0.000 0.000	0.000 0.000 0.000	3	; intake_manifold_pipe5

eof