# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x0000b484
# resource alias of this part: "timing"

render		0x0000b41E 
mesh		0x0000b41D
click		0x0000b464

body		0.0 0.0 0.0	0.0 0.0 0.0	12.0	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	27	; timing
attach		0x00000050 27	; VR_6_2.8_cylinder_head->upper_timing
attach		0x00000042 27	; VR_6_3.2_cylinder_head->upper_timing
attach		0x00000081 27	; VR_6_2.9_cylinder_head->upper_timing
attach		0x00000082 27	; VR_6_3.6_cylinder_head->upper_timing

slot		0.000 0.000 0.000	0.000 0.000 0.000	28      ; timing_screw

slot		0.000 0.000 0.000	0.000 0.000 0.000	29      ; distributor


eof
