# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x0000b784
# resource alias of this part: "timing_screw"

render		0x0000b71E 
mesh		0x0000b71D
click		0x0000b764

body		0.0 0.0 0.0	0.0 0.0 0.0	12.0	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	46	; timing_screw
attach		0x0000b684 46	; VR_6_lower_timing->timing_screw
attach		0x0000b555 46	; VR_6_lower_timing->timing_screw
attach		0x0000b755 46	; VR_6_lower_timing->timing_screw


eof
