# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x0000a28D
# resource alias of this part: "turbo_pipe1"

render		0x0000a224 
mesh		0x0000a223
click		0x0000a267

body		0.0 0.0 0.0	0.0 0.0 0.0	9.2	sphere	0.1
noclick
nocollision

category	1

slot		-0.000 0.000 -0.000	0.000 0.000 0.000	30	; turbo_pipe1
attach		0x0000a18D 30	; VR_6_turbo->turbo_pipe1
attach		0x0000b57D 30	; VR_6_turbo->turbo_pipe1
attach		0x0000b67D 30	; VR_6_turbo->turbo_pipe1

slot		-0.000 0.000 -0.000	0.000 0.000 0.000	31	; turbo_pipe4

eof
