# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x0000a88D
# resource alias of this part: "turbo_pipe6"

render		0x0000a824 
mesh		0x0000a823
click		0x0000a867

body		0.0 0.0 0.0	0.0 0.0 0.0	9.2	sphere	0.1
noclick
nocollision

category	1

slot		-0.000 0.000 -0.000	0.000 0.000 0.000	33	; turbo_pipe6
attach		0x0000a78D 33	; turbo_pipe5->turbo_pipe6

slot		-0.000 0.000 -0.000	0.000 0.000 0.000	3	; turbo_pipe7

eof
