# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x0000b17D
# resource alias of this part: "twin_turbo_pipe18"

render		0x0000b114 
mesh		0x0000b113
click		0x0000b15E

body		0.0 0.0 0.0	0.0 0.0 0.0	9.2	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	5	; twin_turbo_pipe18
attach		0x0000c78D 5	; twin_turbo_pipe2>twin_turbo_pipe2

slot		0.000 0.000 0.000	0.000 0.000 0.000	6	; intake_manifold_pipe4

eof
