# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x00000085
# resource alias of this part: "vr_6_adjustable_transmission"

render		0x00000018 
mesh		0x00000017
click		0x00000060

body		0.0 0.0 0.0	0.0 0.0 0.0	26.0	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 -0.000	0.000 0.000 0.000	6	; transmission_OUT
attach		0x00000041 35	; vr_6_2_8_block_transmission_IN
attach		0x00000052 35	; vr_6_3_2_block_transmission_IN
attach		0x0000007E 35	; vr_6_2_9_block->engine_block_transmission_IN
attach		0x0000007F 35	; vr_6_3_6_block->engine_block_transmission_IN

eof
