# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x00000059
# resource alias of this part: "vr_6_2_8_exhaust_camshaft"

render		0x0000003E 
mesh		0x0000003D
click		0x00000074

body		0.0 0.0 0.0	0.0 0.0 0.0	5.5	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	21	; ex_cam_OUT
attach		0x00000050 4	; vr_6_2_8_cylinder head->cylinder_head_ex_cam_IN


slot		0.000 0.000 0.000	0.000 0.000 0.000	22      ; exhaust_camshaft_weel

eof
