# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x0000e884
# resource alias of this part: "water_tank"

render		0x0000e81E 
mesh		0x0000e81D
click		0x0000e864

body		0.0 0.0 0.0	0.0 0.0 0.0	12.0	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	4	; water_tank
attach		0x0000e784 4	; VR_6_water_hose->water_tank


eof
