# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x00000A54
# resource alias of this part: "filter_1"

render		0x00000A32
mesh		0x00000A31
texture 	0x00030024
click		0x00000A6E

body		0.0 0.0 0.0	0.0 0.0 0.0	6.0	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	58	; cylinder_head_intake_OUT
attach		0x00000B97 60	;->intake_manifold_fuel_IN

eof
