# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x00000054
# resource alias of this part: "turbocharger air out pipe"

render		0x00000032
mesh		0x00000031
texture 	0x00030024
click		0x0000006E

body		0.0 0.0 0.0	0.0 0.0 0.0	6.0	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	58	; cylinder_head_intake_OUT
attach		0x00000A97 60	;->intake_manifold_fuel_IN

eof
