# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x00000049
# resource alias of this part: "Baiern_oil_pan"

render		0x0000001E ; oil pan
mesh		0x0000001D
texture 	0x0003001C
click		0x00000064

body		0.0 0.0 0.0	0.0 0.0 0.0	12.0	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	2	; oil_pan_OUT
attach		0x00000041 31	; Baiern_Kraftwerk_2_5_block->engine_block_oil_pan_IN
attach		0x00000052 31	; Baiern_Devils_6SFi_block->engine_block_oil_pan_IN
attach		0x0000007E 31	; Emer_StreetGT_block->engine_block_oil_pan_IN
attach		0x0000007F 31	; Emer_MotorSport_GT2_block->engine_block_oil_pan_IN

eof
