# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000B7
# resource alias of this part: "American_V6_R_exhaust_camshaft"

lods 3 0.001 1.000 2.000

#render		0x???????? ; ???
#lod 0 0 // lo-res

#render		0x???????? ; ???
#lod 1 1 // hi-res

render		0x00000033 ; V6_R_exhaust_camshaft
lod 2 2 // extr-hi-res

mesh		0x00000032
click		0x0000006B

body		0.0 0.0 0.0	0.0 0.0 0.0	4.5	sphere	0.1
noclick
nocollision

category	1

slot		 0.000  0.000  0.000	 0.000  0.000  0.000	33	; R_exhaust_camshaft_OUT
attach		0x000000AF 32	; cabecote direito audi
attach		0x0000A002 32	; cabecote direito duratec
attach		0x0000A003 32	; cabecote direito gm
attach		0x0000A005 32	; cabecote direito honda
attach		0x0000A007 32	; cabecote direito hyundai
attach		0x0000A009 32	; cabecote direito mercedes
attach		0x0000A011 32	; cabecote direito toyota

eof
