# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x0000D018
# resource alias of this part: "intercooler_3"

lods 3 0.001 1.000 2.000

#render		0x???????? ; ???
#lod 0 0 // lo-res

render		0x0000D020 ; intercooler_3
lod 1 1 // hi-res

render		0x0000D020 ; intercooler_3
lod 2 2 // extr-hi-res

mesh		0x0000D019
click		0x0000D021

body		0.0 0.0 0.0	0.0 0.0 0.0	3.1	sphere	0.1
noclick
nocollision

category	1

slot		0.000 -0.380 -0.090 	0.000 0.000 0.000	304	; intercooler_3
attach		0x00000001 307	; V6_engine_block->intercooler_3
attach		0x0000000A 307	; V6_engine_block->intercooler_3
attach		0x0000003F 307	; V6_engine_block->intercooler_3
attach		0x00000201 307	; V6_engine_block->intercooler_3
attach		0x0000020A 307	; V6_engine_block->intercooler_3
attach		0x0000023F 307	; V6_engine_block->intercooler_3
attach		0x00000301 307	; V6_engine_block->intercooler_3

eof
