# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000005B8
# resource alias of this part: "Performance_supercharger"

lods 3 0.001 1.000 2.000

#render		0x???????? ; ???
#lod 0 0 // lo-res

render		0x000005F1 ; V6_roots_supercharger
lod 1 1 // hi-res

render		0x00000576 ; V6_roots_supercharger
lod 2 2 // extr-hi-res

mesh		0x00000575
click		0x0000058E

body		0.0 0.0 0.0	0.0 0.0 0.0	14.5	sphere	0.1
noclick
nocollision

category	1

slot		0.000 -0.177 0.000	0.000 0.000 0.000	8	; Performance_SuperCharger_OUT
attach		0x0000058A 79	; 2x4 barrel intake manifold->intake_manifold_mixture_IN

slot		0.000 0.000 0.149	   0.000 0.000 0.000	831	; Turbo_air_filter5
compatible	0x00071C50 831

eof
