# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000BE
# resource alias of this part: "V6_roots_supercharger_intake_manifold"

lods 3 0.001 1.000 2.000

render		0x000000CC ; V6_roots_supercharger_intake_manifold
lod 0 0 // lo-res

render		0x0000A0D7 ; V6_roots_supercharger_intake_manifold
lod 1 1 // hi-res

render		0x0000A080 ; V6_roots_supercharger_intake_manifold
lod 2 2 // extr-hi-res

mesh		0x0000A07F
click		0x0000A093

body		0.0 0.0 0.0	0.0 0.0 0.0	13.0	sphere	0.1
noclick
nocollision

category	1

slot		 0.000 -0.120 0.030	 0.000  0.000  0.000	3	; intake_manifold_OUT
attach		0x00000301 14	; bloco audi 2.6
attach		0x0000023F 14	; bloco audi 2.8
attach		0x0000003F 14	; bloco audi 3.2
attach		0x00000201 14	; bloco duratec 3.0
attach		0x00000001 14	; bloco duratec 3.5
attach		0x0000000A 14	; bloco gm 3.6
attach		0x0000020A 14	; bloco honda 3.5
attach		0x0000021A 14	; bloco hyundai 3.3
attach		0x0000022A 14	; bloco hyundai 3.8
attach		0x0000023A 14	; bloco meca 2.6
attach		0x0000024A 14	; bloco meca 2.8
attach		0x0000025A 14	; bloco meca 3.2
attach		0x0000026A 14	; bloco toyota 3.5


slot		 0.000  0.000  0.000	 0.000  0.000  0.000	7	; intake_manifold_mixture_IN

slot		 0.000  0.000  0.000	 0.000  0.000  0.000	9	; intake_manifold_supercharger

eof
