# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x00000378
# resource alias of this part: "Radiator_out_pipe"

lods 3 0.001 1.000 2.000

#render		0x???????? ; ???
#lod 0 0 // lo-res

render		0x00000382 ; Radiator_out_pipe
lod 1 1 // hi-res

render		0x00000382 ; Radiator_out_pipe
lod 2 2 // extr-hi-res

mesh		0x00000380
click		0x00000384

body		0.0 0.0 0.0	0.0 0.0 0.0	8.5	sphere	0.1
noclick
nocollision

category	1

slot		-0.235 0.052 -0.200	0.000 0.000 0.000	305	; Radiator_out_pipe
attach		0x00000374 305	; Radiator->Radiator_out_pipe


eof
