# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x00000095
# resource alias of this part: "V6_oil_pan"

lods 3 0.001 1.000 2.000

#render		0x???????? ; ???
#lod 0 0 // lo-res

render		0x000000E7 ; V6_oil_pan
lod 1 1 // hi-res

render		0x00000021 ; V6_oil_pan
lod 2 2 // extr-hi-res

mesh		0x00000020
click		0x00000061

body		0.0 0.0 0.0	0.0 0.0 0.0	18.0	sphere	0.1
noclick
nocollision

category	1

slot		 0.000  0.058 -0.306	 0.000  0.000  0.000	10	; oil_pan_OUT
attach		0x00000301 9	; bloco audi 2.6
attach		0x0000023F 9	; bloco audi 2.8
attach		0x0000003F 9	; bloco audi 3.2
attach		0x00000201 9	; bloco duratec 3.0
attach		0x00000001 9	; bloco duratec 3.5
attach		0x0000000A 9	; bloco gm 3.6
attach		0x0000020A 9	; bloco honda 3.5
attach		0x0000021A 9	; bloco hyundai 3.3
attach		0x0000022A 9	; bloco hyundai 3.8
attach		0x0000023A 9	; bloco meca 2.6
attach		0x0000024A 9	; bloco meca 2.8
attach		0x0000025A 9	; bloco meca 3.2
attach		0x0000026A 9	; bloco toyota 3.5

eof
