# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x0000D450
# resource alias of this part: "Turbo_air_filter2"

lods 3 0.001 1.000 2.000

#render		0x???????? ; ???
#lod 0 0 // lo-res

render		0x0000D452 ; Turbo_air_filter2
lod 1 1 // hi-res

render		0x0000D452 ; Turbo_air_filter2
lod 2 2 // extr-hi-res

mesh		0x0000D451
click		0x0000D453

body		0.0 0.0 0.0	0.0 0.0 0.0	8.5	sphere	0.1
noclick
nocollision

category	1

slot		0.000 -0.005 0.000		0.000 0.000 0.000	161	; Turbo_air_filter1
attach		0x0000F450 161	; Turbo->Turbo_air_filter1
attach		0x0000E450 161	; Turbo->Turbo_air_filter1

eof
