# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x0000E550
# resource alias of this part: "Turbo_exhaust_header2"

lods 3 0.001 1.000 2.000

#render		0x???????? ; ???
#lod 0 0 // lo-res

render		0x0000E552 ; Turbo_exhaust_header2
lod 1 1 // hi-res

render		0x0000E552 ; Turbo_exhaust_header2
lod 2 2 // extr-hi-res

mesh		0x0000E551
click		0x0000E553

body		0.0 0.0 0.0	0.0 0.0 0.0	8.5	sphere	0.1
noclick
nocollision

category	1

slot		0.000 -0.000 -0.230		0.000 0.000 0.000	166	; Turbo_exhaust_header2
attach		0x0000A394 166	; Turbo->Turbo_exhaust_header
attach		0x0000A395 166	; Turbo->Turbo_exhaust_header

slot		 0.000  -0.060  1.345	 0.000  0.000  0.000	205	; V6_exhaust_pipe

eof
