# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x0000D050
# resource alias of this part: "intercooler_up_air_out_pipe_R"

lods 3 0.001 1.000 2.000

#render		0x???????? ; ???
#lod 0 0 // lo-res

render		0x0000D052 ; intercooler_up_air_out_pipe_R
lod 1 1 // hi-res

render		0x0000D052 ; intercooler_up_air_out_pipe_R
lod 2 2 // extr-hi-res

mesh		0x0000D051
click		0x0000D053

body		0.0 0.0 0.0	0.0 0.0 0.0	3.1	sphere	0.1
noclick
nocollision

category	1

slot		-0.205 0.117 -0.057 	0.000 0.000 0.000	702	; intercooler_up_air_out_pipe_R
attach		0x000000A1 702	; R_turbocharger->intercooler_up_air_out_pipe_R

eof
