# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x0000F450
# resource alias of this part: "Turbo_air_in_pipe"

lods 3 0.001 1.000 2.000

#render		0x???????? ; ???
#lod 0 0 // lo-res

render		0x0000F452 ; Turbo_air_in_pipe
lod 1 1 // hi-res

render		0x0000F452 ; Turbo_air_in_pipe
lod 2 2 // extr-hi-res

mesh		0x0000F451
click		0x0000F453

body		0.0 0.0 0.0	0.0 0.0 0.0	8.5	sphere	0.1
noclick
nocollision

category	1

slot		0.000 -0.020 0.280		0.000 0.000 0.000	160	; Turbo_air_in_pipe
attach		0x0000A394 160	; Turbo->Turbo_air_in_pipe
attach		0x0000A395 160	; Turbo->Turbo_air_in_pipe
attach		0x00000394 160	; Turbo->Turbo_air_in_pipe
attach		0x00000395 160	; Turbo->Turbo_air_in_pipe

slot		 0.000  -0.026  -0.040	 0.000  -0.550  0.000	161	; Turbo_air_filter

eof
