# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x00000387
# resource alias of this part: "V6_R_turbo_up_exhaust_header"

lods 3 0.001 1.000 2.000

#render		0x???????? ; ???
#lod 0 0 // lo-res

render		0x00000391 ; V6_R_turbo_up_exhaust_header
lod 1 1 // hi-res

render		0x00000391 ; V6_R_turbo_up_exhaust_header
lod 2 2 // extr-hi-res

mesh		0x00000389
click		0x00000393

body		0.0 0.0 0.0	0.0 0.0 0.0	8.5	sphere	0.1
noclick
nocollision

category	1

slot		 0.000  0.000 -0.00	 0.000  0.000  0.000	36	; R_exhaust_head_OUT
attach		0x000000AF 16	; cabecote direito audi
attach		0x0000A002 16	; cabecote direito duratec
attach		0x0000A003 16	; cabecote direito gm
attach		0x0000A005 16	; cabecote direito honda
attach		0x0000A007 16	; cabecote direito hyundai
attach		0x0000A009 16	; cabecote direito mercedes
attach		0x0000A011 16	; cabecote direito toyota

slot		 0.000  0.000  0.000	 0.000  0.000  0.000	151	; V6_turbocharger

eof
