# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x0000D058
# resource alias of this part: "intercooler_up_air_out_pipe_2_R"

lods 3 0.001 1.000 2.000

#render		0x???????? ; ???
#lod 0 0 // lo-res

render		0x0000D060 ; intercooler_up_air_out_pipe_2_R
lod 1 1 // hi-res

render		0x0000D060 ; intercooler_up_air_out_pipe_2_R
lod 2 2 // extr-hi-res

mesh		0x0000D059
click		0x0000D061

body		0.0 0.0 0.0	0.0 0.0 0.0	3.1	sphere	0.1
noclick
nocollision

category	1

slot		-0.200 0.117 -0.057 	0.000 0.000 0.000	701	; intercooler_up_air_out_pipe_2_R
attach		0x0000028A 701	; R_turbocharger->intercooler_up_air_out_pipe_2_R

eof
