# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x00000450
# resource alias of this part: "V6_intake_cover2"

lods 3 0.001 1.000 2.000

#render		0x???????? ; ???
#lod 0 0 // lo-res

render		0x00000452 ; V6_intake_cover2
lod 1 1 // hi-res

render		0x00000452 ; V6_intake_cover2
lod 2 2 // extr-hi-res

mesh		0x00000451
click		0x00000453

body		0.0 0.0 0.0	0.0 0.0 0.0	3.1	sphere	0.1
noclick
nocollision

category	1

slot		0.000 -0.005 -0.000 	0.000 0.000 0.000	403	; V6_intake_cover2
attach		0x000000A1 403	; coletor power
attach		0x0000028A 403	; coletor gs


eof
