# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x00000ABC
# resource alias of this part: "filter"

render		0x0000AA72
mesh		0x0000AA73
click		0x0000AA74

body		0.0 0.0 0.0	0.0 0.0 0.0	6.0	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	58	; turbocharger_air_out_pipe_OUT
attach		0x0000AA10 58	; intake_manifold->intake_manifold_fuel_IN


eof
