# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x00000051
# resource alias of this part: "turbo"

render		0x0000AA52
mesh		0x0000AA53
click		0x0000AA54

body		0.0 0.0 0.0	0.0 0.0 0.0	4.5	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	27	; exhaust_head_OUT
attach		0x00000042 13	; 93x88er cylinder head->cylinder_head_exhaust_header_1_to_3_IN
attach		0x00000081 13	; 93x88er cylinder head->cylinder_head_exhaust_header_1_to_3_IN
attach		0x00000082 13	; 93x88er cylinder head->cylinder_head_exhaust_header_1_to_3_IN
attach		0x00000A42 13	; 93x88er cylinder head->cylinder_head_exhaust_header_1_to_3_IN
attach		0x00000581 13	; 93x88er cylinder head->cylinder_head_exhaust_header_1_to_3_IN

slot		0.000 0.000 0.000	0.000 0.000 0.000	30	; saida
slot		0.000 0.000 0.000	0.000 0.000 0.000	12	; filtro

eof
