# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x00000054
# resource alias of this part: "turbocharger air out pipe"

render		0x0000F182
mesh		0x0000F183
click		0x0000F184

body		0.0 0.0 0.0	0.0 0.0 0.0	6.0	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	58	; turbocharger_air_out_pipe_OUT
attach		0x0000F171 12	; filtro

eof
