# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x0000009B
# resource alias of this part: "Baiern_Devils_6SFi_cylinder_head_cover"

render		0x0000F462 ; cylinder head cover
mesh		0x0000F463
click		0x0000F464

body		0.0 0.0 0.0	0.0 0.0 0.0	3.14	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	79	; cylinder_head_cover_OUT
attach		0x0000F441 79	; tampa cabecote c20xe

eof
