# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x00000047
# resource alias of this part: "camshaft_drive_belt"

render		0x0000001A ; camshaft drive belt
mesh		0x00000019
click		0x00000061

body		0.0 0.0 0.0	0.0 0.0 0.0	0.45	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	23	; cam_belt_OUT
attach		0x00000042 22	; cylinder_head_10->cylinder_head_cam_belt_IN
attach		0x00000082 22	; cylinder_head_13->cylinder_head_cam_belt_IN
attach		0x00000081 22	; cylinder_head_14->cylinder_head_cam_belt_IN
attach		0x00000A42 22	; cylinder_head_tunned->cylinder_head_cam_belt_IN
attach		0x00000581 22	; cylinder_head_16->cylinder_head_cam_belt_IN

eof
