# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x00000A9B
# resource alias of this part: "cylinder_head_cover_race"

render		0x00000A2A ; cylinder head cover
mesh		0x00000A29
click		0x00000A6A

body		0.0 0.0 0.0	0.0 0.0 0.0	3.14	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	17	; cylinder_head_cover_OUT
attach		0x00000042 18	; cylinder_head_10->cylinder_head_cover_IN
attach		0x00000082 18	; cylinder_head_13->cylinder_head_cover_IN
attach		0x00000081 18	; cylinder_head_14->cylinder_head_cover_IN
attach		0x00000A42 18	; cylinder_head_tunned->cylinder_head_cover_IN
attach		0x00000581 18	; cylinder_head_16->cylinder_head_cover_IN

eof
