# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x00000083
# resource alias of this part: "stock_14_transmission"

render		0x00000018 ; transmission
mesh		0x00000017
click		0x00000060

body		0.0 0.0 0.0	0.0 0.0 0.0	32.0	sphere	0.1
noclick
nocollision

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	6	; transmission_OUT
attach		0x00000052 35	; ->engine_block_transmission_IN
attach		0x0000007F 35	; ->engine_block_transmission_IN
attach		0x0000007E 35	; ->engine_block_transmission_IN

eof
